<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <node pkg="ros_kitti_writer" type="ros_kitti_writer_node" name="ros_kitti_writer_node" output="screen">
  	<param name="root_directory"		value="/home/zhanghm/Test/ccc"/>
  	<param name="velo_topic"		value="/lidar_cloud_calibrated"/>
  	<param name="left_camera_topic"		value="/stereo/left/image_raw"/>
  	<param name="right_camera_topic"		value=""/>
  </node>
    
</launch>

